
.header{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 50px;
    background: #F14607;
    background: -webkit-linear-gradient(right, #F14607, #F08B10);
    background: -moz-linear-gradient(right, #F14607, #F08B10);
    background: linear-gradient(to left, #F14607, #F08B10);
    position: sticky;
    z-index: 100;
    overflow-x: auto;
}

.logo{
    margin-top: auto;
    margin-bottom: auto;
    height: 90%;
}

.header__button{
    transition: 0.2s;
    margin-top: auto;
    margin-bottom: auto;
    height: 50px;
    background-color:transparent ;
    border: none;
    text-align: center;
    color:aliceblue;
    font-weight: bolder;
    font-size: 30px;
}

.search{
    display: flex;
    height:50px;
    flex-flow: horizontal;
}

.search__bar{
    margin-top: 8px;
    margin-bottom: 8px;
    height: 68%;
    width:95%;
    min-width: 100px;
    border-color: grey;
    margin-right: 3%;
    font-size: 18px;
}

.search__icon{
    margin-top: auto;
    margin-bottom: auto;
    transform: scale(1.30);
    background-color: rgb(2, 240, 240);
    border-radius: 3px;
}

.search__icon:hover{
    margin-top: auto;
    margin-bottom: auto;
    transform: scale(1.30);
    background-color: rgb(96, 204, 204);
    border-radius: 3px;
}

.github{
    margin-top: auto;
    margin-bottom: auto;
}

.github__link{
    color: aliceblue;
    font-size: 3vh; 
    text-decoration: none; 
    font-weight: bolder;  
}

.github__link:hover{
    color:rgb(2, 240, 240); 
}

.header__button:hover{
    transition: 0.2s;
    padding-left:2vh;
    padding-right:2vh;
    color:rgb(2, 240, 240);
    border-bottom:solid;
    border-color: rgb(255, 255, 0);
}
