@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.library{
    overflow-x: hidden;
    padding-top: 20px;
    height: max-content;
    background: linear-gradient(rgb(245, 235, 210), white);
    width:100%;
    overflow: auto;
    margin-bottom: 20px;
}

.title{
    padding-bottom: 20px;
    font-family: 'Hallo Sans', sans-serif;
    text-align: center;
    font-size: 50px;
    color: rgb(18, 35, 184);
}

.horizontal__line{
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border: 0;
    height: 1.5px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.library__books{
    display: flex;
    height: max-content;
    padding-top: 20px;
    flex-flow: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    background-color: #eb9d00;
    background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
}

.library__container{
    width:25%;
    display: flex;
    flex-flow: column;
    padding: 20px;
    align-items: center;
    margin-bottom: 100px;
    border: solid 5px;
    border-image: radial-gradient(rgb(143, 41, 0), rgb(175, 14, 2)) 1;
    background-color: rgba(196, 192, 192, 0.2);
}

.library__title{
    padding-top: 5px;
    color: rgb(10, 26, 56);
}

.library__image>img{
    box-shadow: 0px 0px 15px;
}

.library__button{
    margin-top: 10px;
    margin-bottom: 10px;
    width:100%;
}

.library__button>button{
    margin-left: 15%;
    margin-right: 15%;
    width:70%;
    font-size: 24px;
    font-weight: 800;
    color: white;
}

.button__1{
    background-color: rgb(16, 131, 207);
    border: none;
    cursor: pointer;
}

.button__2{
    background-color: rgb(241, 64, 33);
    border: none;
    cursor: pointer;
}

.edit__page{
    display: flex;
    flex-flow: column;
    height: max-content;
    width: 100%;
    background: linear-gradient(rgb(245, 235, 210), white);
}

.edit__page__header{
    display: flex;
    flex-wrap: wrap;
    height: max-content;
    width: 100%;
    background-color: #0867c0;
    overflow-x: auto;
}

.back__button{
    margin-left: 10px;
    align-self: center;
}

.back__button>button{
    background-color: rgb(0,0,0,0);
    border: none;
    cursor: pointer;
    font-size: 18px;
    color:aliceblue;
}

.book__title{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto; 
    color: rgb(248, 246, 125);
}

.book__title>p{
    font-family: 'Hallo Sans', sans-serif;
    text-align: center;
    font-size: 40px;
}

.main__content{
    width: 95vw;
    display: flex;
    flex-flow: row;
    height: max-content;
    flex-wrap: wrap;
}

.chapters__list{
    margin-left: 20px;
    padding-top: 20px;
    width: max-content;
    margin-right: 20px;
}

.edit__chapter{
    width: 60vw;
    height: max-content;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    font-family: 'Cookie', cursive;
    font-size: 40px;
}

.chapter__title{
    font-size: 54px;
}

.edit__chapter>hr{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border: 0;
    height: 1.5px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.edit__chapter>p{
    text-align: center;
}

.characters__list{
    width: 25vw;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
}

.character__button{
    margin: 8px;
}






