.SearchBook{
    height: max-content;
    background: linear-gradient(rgb(245, 235, 210), white);
    width:100%;
    overflow: auto;
    margin-bottom: 20px;
}

.searchbar__container{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    height: max-content;
    background-color: rgb(43, 126, 250);
    justify-content: space-evenly;
}

.searchbar{
    font-size: 20px; 
}

.results{
    display: flex;
    height: max-content;
    padding-top: 20px;
    flex-flow: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}

.book__container{
    width:25%;
    display: flex;
    flex-flow: column;
    padding: 20px;
    align-items: center;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 0px 10px;
}

.book__name{
    margin-top: 20px;
    margin-bottom: 20px;
}

.add__button{
    width:75%;
}
.add__button>button{
    width:100%;
    font-size: 24px;
    background-color: rgb(32, 93, 206);
    color: white;
    font-weight: 700;
    cursor: pointer;
    border:none;
    padding-top: 5px;
    padding-bottom: 5px;
}